<div id="wrapper">

    <!-- Sidebar -->
<!--     <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
              <p>Conferences</p>
            </li>
            < % @conferences.each do |c| %>
            <li>
              <a href="#< %= c.name %>">< %= c.name %></a>
            </li>
            < % end %>
        </ul>
    </div> -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <% @conferences.each do |c| %>
                    <div id="<%= c.name %>" class="row">
                        <div id="conference-jumbotron" class="jumbotron" style=" width: 100%; background-size: cover; background-image: url(<%= asset_path c.image %>);">
                         <div id="jumbotron-footer" class="row">
                          <h1 id="conference-name" class="row   "><%= c.name %>
                          </h1>
                          <h4 class="text-center"><%= c.start_date %> - <%= c.end_date %></h4>
                      </div>
                  </div>
                  <!-- Placeholder events (will have < % c.events.each % >) -->
                  <div class="event-list row">
                  <div class ="">
                  <% c.events.each do |e| %>
                    <div class="col-md-3 col-xs-6 text-left">
                      <%= link_to event_path(e) do %>
                       <%= image_tag e.category.image, class: "main-images" %>
                      <% end %>
                   </div>
                   <% end %>
               </div>
           </div>
           <hr>
           <br>
           <br>
           <br>
           <br>
       </div>
       <%end%>
   </div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->
</div>


