<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
              <a>Conferences</a>
            </li>
            <% @conferences.each do |c| %>
            <li>
              <a href="#<%= c.name %>"><%= c.name %></a>
            </li>
            <% end %>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <% @conferences.each do |c| %>
                    <div id="<%= c.name %>" class="row">
                        <div id="conference-jumbotron" class="jumbotron" style=" width: 100%; background-size: cover; background-image: url(<%= asset_path c.image %>);">
                         <div id="jumbotron-footer" class="row">
                          <h1 id="conference-name" class="row   "><%= c.name %>
                          </h1>
                          <h4 class="text-center"><%= c.start_date %> - <%= c.end_date %></h4>
                      </div>
                  </div>
                  <!-- Placeholder events (will have < % c.events.each % >) -->
                  <div class="event-list row">
                  <div class ="">
                      <div class="col-md-3 col-xs-6 text-left">
                       <%= image_tag 'artculture.png'  %>
                   </div>
                   <div class="col-sm-3 col-xs-6 text-left">
                       <%= image_tag 'family.png'  %>
                   </div>
                   <div class="col-sm-3 col-xs-6 text-left">
                        <%= image_tag 'fooddrink.png'  %>
                   </div>
                   <div class="col-sm-3 col-xs-6 text-left">
                        <%= image_tag 'fitness.jpg'  %>
                   </div>
               </div>
           </div>
           <hr>
           <br>
           <br>
           <br>
           <br>
       </div>
       <%end%>


   <!--     <div id="I Love Dogs" class="row">
        <div id="conference-jumbotron" class="jumbotron" style=" width: 100%; background-size: cover; background-image: url(/assets/dog-5949ced875c7f93966a150a398a1e03abd0f12b0ca7da30a04d689525f48cc59.jpg);">

          <div id="jumbotron-footer" class="row">
            <h1 id="conference-name" class="row   ">I Love Dogs
            </h1>
            <h4 class="text-center">08/17/2015 - 08/18/2015</h4>
          </div></div> -->
          <!-- Placeholder events (will have < % c.events.each % >) -->


  <!--       </div>
        <div class="event-list row" style="
        ">
        <div class="">
          <div class="col-md-3 col-xs-6 text-left" style="
          ">
          <img src="http://hypefreshmag.com/wp-content/uploads/2015/06/beer-genes-app-will-help-people-pick-beers.jpg" class="img-responsive event-image">
        </div>
        <div class="col-md-3 col-xs-6 text-left">
         <img src="http://www.fodors.com/wire/theme-park-tips.jpg" class="img-responsive event-image">
       </div>
       <div class="col-md-3 col-xs-6 text-left">
         <img src="http://barfblog.com/wp-content/uploads/2012/06/gleneagles_bar3_large.jpg" class="img-responsive event-image">
       </div>
       <div class="col-md-3 col-xs-6 text-left">
         <img src="http://barfblog.com/wp-content/uploads/2012/06/gleneagles_bar3_large.jpg" class="img-responsive event-image">
       </div>
     </div>
   </div><hr></div> -->



   </div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->
</div>
