<div class="container">
	<div class="col-sm-3">
		<h1 class="centered">Placeholder Text for other events</h1>
	</div>
	<div class="col-sm-6">
		<h1 class="centered">Event Page</h1>
		<div class="well">
			<div class="row">
			<div class="col-sm-8">
				<ul> 
					<li>Conference: <%= @event.conference.name %></li>
					<li>Name: <%= @event.name %></li>
					<li>Cost: $<%= @event.cost %></li>
					<li>Capacity: <%= @event.capacity %> people</li>
					<li><%= localize(@event.start_date, :format => '%m/%d/%Y') %> - <%= localize(@event.end_date, :format => '%m/%d/%Y') %></li>
					<li><%= @event.start_time.strftime("%I:%M%p") %> - <%= @event.end_time.strftime("%I:%M%p") %></li>
					<li><a href="http://maps.google.com/?q=<%= @event.address %> <%= @event.city%> <%=@event.state %>"><%= @event.address %>, <%= @event.city%>, <%=@event.state %></a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<p><%= @event.category.name %></p>
				<%= image_tag(@event.category.image, class: "category-image") %>
			</div>
		</div>
		<div class="row">
		<!-- TODO: hide if current_user != event host -->
			<div style="text-align: center">
				<%= link_to "Edit", edit_event_path(@event), class: "btn" %>
				<%= link_to "Delete", event_path(@event), class: "btn", method: :delete %>
			</div>
		</div>
		</div>
		<!-- new post -->
		<%= form_for :post, url: posts_path, html:{id:"new-post", method: :post} do |f| %>
		<%= f.hidden_field :event_id,  value: @event.id %>
		<div class="form-group">
			<label for="body">New Post</label>
			<%= f.text_area :body, placeholder: "Enter post here", autofocus: true, class: "form-control" %>
		</div>
		<div class="form-group">
			<label for="image">Image</label>
			<%= f.file_field :image %>
			<p class="help-block">Image is optional</p>
		</div>
		<%= f.submit "Add Post", class: "btn btn-primary btn-block" %>
		<% end %>
		<hr>
		<% @event.posts.each do |post| %>
		<div class="panel panel-success">
			<div class="panel-heading">
					<%= post.user.full_name %><%= image_tag(post.user.avatar, class: "post-thumb") %>
			</div>
			<div class="panel-body">
				<%= image_tag post.image.url(:thumb), width:"50"%><p><%= post.body %></p>
				<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(post), class: "btn edit-btn" %>
				<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post), class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
				<div>
					<!-- edit post -->
					<%= form_for :post, url: post_path, html:{action:"update", method: :put, id:"edit-post", class: "hide"} do |f| %>
					<%= f.hidden_field :event_id, value: @event.id %>
					<div class="form-group">
						<label for="body">Edit Post</label>
						<%= f.text_area :body, placeholder: "Edit post here", autofocus: true, class: "form-control" %>
					</div>
					<div class="form-group">
						<label for="image">Image</label>
						<%= f.file_field :image %>
						<p class="help-block">Image is optional</p>
					</div>
					<%= f.submit "Edit Post", class: "btn btn-primary btn-block" %>
					<% end %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<div class="col-sm-3">
		<h1 class="centered">Placeholder Text for other event attendees</h1>
		<!--<p><%= link_to "Going", edit_event_path %>-->
		<p><%= form_for :rsvp, url: rsvp_index_path, html:{method: :post} do |f| %>
				Going<%= radio_button_tag  "going", "yes", true %>
				Not Going<%= radio_button_tag  "not going", "no" %>
				<% end%>
		</p>


	</div>
</div>