<div class="container">
	<div class="col-sm-3">
		<h1 class="centered-headline">Placeholder Text for other events</h1>
	</div>
	<div class="col-sm-6">
		<div class="col-sm-12">
			<h1 class="centered-headline">Event Page</h1>
			<ul class="well"> 
				<li>Name: <%= @event.name %></li>
				<li>Capacity: <%= @event.capacity %></li>    
				<li>Cost: <%= @event.cost %></li>
				<li>Date: <%= localize(@event.start_date, :format => '%m/%d/%Y') %> to <%= localize(@event.end_date, :format => '%m/%d/%Y') %> </li>
				<li>Start: <%= @event.start_time.strftime("%I:%M%p") %> End: <%= @event.end_time.strftime("%I:%M%p")%></li>
				<li>Cost: <%= @event.cost %></li>
				<li>Location: <%= @event.address%>, <%= @event.city%>, <%=@event.state  %></li>
				<li>Event Category: <%= @event.category.name %> <%= image_tag(@event.category.image, :class => "category-image") %></li>
				<%= link_to "Show", event_path(@event), class: "btn" %>
				<%= link_to "Edit", edit_event_path(@event), class: "btn" %>
				<%= link_to "Delete", event_path(@event),class: "btn", method: :delete %>
				<%= link_to "New Post", posts_new_path(), class: "btn", method: :get %>
			</ul>
			<h3>Posts</h3>
			<hr>
			<% @event.posts.each do |post| %>
			<div><%= image_tag post.image.url(:thumb), width:"30"%><p><%= post.body %></p></div>
			<%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(post), class: "btn"%>
			<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post), class: "btn",
			                  method: :delete,
			                  data: { confirm: 'Are you sure?' } %>
			<% end %>

		</div>
	</div>
	<div class="col-sm-3">
		<h1 class="centered-headline">Placeholder Text for other event attendees</h1>
	</div>
</div>